#Adress{
    height: 75px;
    width: 300px;

 }
 table, th, td{
    border: 1px solid black;
    border-collapse: collapse;}

    header{
      background-color: yellow;
      height: 200px;
      width: 1520px;
      /* margin-left: 200px;
      margin-bottom: 35px; */
  
  }
  header h1{
     text-align: center;
     font-family: 'Anton', sans-serif;
      font-family: 'Indie Flower', cursive;
      font-size: xx-large;
  }
 
   header nav{ 
      padding-left: 300px;
  }

  header ul{
   position: relative;
   margin-top: 50px;
}

header nav ul li{
   list-style-type: none ;
   display: inline-block;
   padding-right: 10%;
}
header li:hover{
   background-color: rgb(64, 248, 95);
}

footer{
   background-color: rgb(255, 202, 255);
   height: 200px;
   width: 1520px;
   /* margin-left: 200px;
   margin-bottom: 35px; */
}

#contact-nav{
padding-top: 40px;
}
#social-media{
   padding-left: 1000px;
   margin-top: -50px;

}
footer p{
   font-size: xx-large;
   margin-left: 500px;
   margin-top: -60px;
   color: crimson;

}
footer nav ul li{
   /* list-style-type: none ;
   display: inline-block;
   padding-right: 10%; */
   font-size: 150%;
}