
#Adress{
    height: 75px;
    width: 300px;

 }
 table, th, td{
    border: 1px solid black;
    border-collapse: collapse;}
<<<<<<< HEAD

   
=======
>>>>>>> 9f336e73b3ede0cd85398f2a4fe3ffbd78452f49
